.form_warp {
  // width: 600px;
//   border: 1px #707070 solid;
  line-height: 5rem;
  padding: 30px;
  border-radius: 10px;
  // margin-left: 100px;
  font-size: 22px;
  margin-bottom: 200px;
  background-color: #fff;
  box-shadow:5px 5px 20px rgba(0, 0, 0,.2);
}

.form_row {
  font-size: 2rem;
  //   border-bottom: 1px #707070 solid;
  padding-bottom: 10px;
}

.button {
//   float: right;
  margin: 10px 20px;
}
