* {
  margin: 0;
  padding: 0;
}

.sellerBackend_Member_Wrap {
  margin: auto;
  margin-top: 15rem;

  .breadcrumbsArea {
    margin-left: 200px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  .sellerBackend_Member_Container {
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
}

.side-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  // margin:0px 100px 0px 100px;
}

.nav .link {
  display: block;
  padding: 10px;
  color: #707070;
  text-decoration: none;
}

.nav li + li {
  border-top: 1px dashed #707070;
}

.nav li {
  list-style: none;
}
