/* List styles */

/* .list {    
    text-transform: uppercase;
    position: absolute;
    margin-left: -53rem;
    top: 9.5rem;
    visibility: hidden;
}
.list:hover{
    visibility:visible;
} */
.dropList {
  visibility: hidden;
}

.dropList:hover {
  visibility: visible;
}

.catLink {
  margin: 1.5rem 0;
  font-weight: normal;
}

.catLink a {
  text-decoration: none;
  color: black;
}

.catLink a:hover {
  color: #edae10;
}
/* 
.catLink a:visited {
  color: black;
} */

.catLink:hover {
  color: #edae10;
}

.list a {
  -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;

  display: block;
  color: #fff;
}

.list a:hover {
  text-indent: 20px;
}
.list dd {
  text-indent: 10px;
  line-height: 55px;
  background: #000;
  border-top: 0.2rem dashed rgba(255, 255, 255, 0.3);
  margin: 0;
  height: 55px;
  width: 270px;
  color: #fff;
  line-height: 5rem;
  font-size: 2rem;
  height: 5rem;
  margin: 0;
}

.maki dt,
.maki dd,
.maki a {
  background: #ffffff;
}
.maki a:hover {
  background: #ffae19;
}

.maki {
  -webkit-transform: perspective(600px) translateZ(1px) !important;
  -moz-transform: perspective(600px) translateZ(1px) !important;
  -ms-transform: perspective(600px) translateZ(1px) !important;
  -o-transform: perspective(600px) translateZ(1px) !important;
  transform: perspective(600px) translateZ(1px) !important;
  left: 50%;
}

/* auction */
.auctionList {
  text-transform: uppercase;
  position: absolute;
  margin-left: -40rem;
  top: 9.5rem;
  visibility: hidden;
}
.auctionList:hover {
  visibility: visible;
}
.auctionList a {
  -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;

  display: block;
  color: #fff;
}

.auctionList a:hover {
  text-indent: 20px;
}
.auctionList dd {
  text-indent: 10px;
  line-height: 55px;
  background: #000;
  border-top: 0.2rem dashed rgba(255, 255, 255, 0.3);
  margin: 0;
  height: 55px;
  width: 270px;
  color: #fff;
  line-height: 5rem;
  font-size: 2rem;
  height: 5rem;
  margin: 0;
}
.memberList a:hover {
  text-indent: 20px;
}
.memberList dd {
  text-indent: 10px;
  line-height: 55px;
  background: #000;
  border-top: 0.2rem dashed rgba(255, 255, 255, 0.3);
  margin: 0;
  height: 55px;
  width: 270px;
  color: #fff;
  line-height: 5rem;
  font-size: 2rem;
  height: 5rem;
  margin: 0;
}

.memberList {
  width: 200px;
  border-radius: 4px;
  position: absolute;
  right: 5rem;
  border: 1px solid rgb(231, 231, 231);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  display:none;
}
.memberList a {
  -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;
  padding: 10px;
  display: block;
  width: 100%;
  color: #000;
  font-size: 1.6rem;
}
.memberList a:hover {
  color: #edae10;
}
