.ProductContainer {
  position: relative;
  margin: 0 2rem 3rem 2rem;
  width: 24rem;
  height: 46rem;
  border-radius: 4px;
  background: #dbdbdb;
  box-shadow: 0px 4px 20px #1b1b1b21;
}
.ProductContainer2 {
  margin: 2rem;
  width: 93%;
  height: 22.5rem;
  display: flex;
  border-radius: 1rem;
  background: #dbdbdb;
}
.productImg {
  object-fit: scale-down;
  height: 24rem;
  width: 24rem;
  border-top-left-radius: 3rem;
}

.productImg:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.ProductImgDiv {
  background-color: white;
  position: relative;
  width: 100%;
  overflow: hidden;
  top: 0;
}
.productImg2 {
  object-fit: scale-down;
  height: 20.5rem;
  width: 20.5rem;
}

.ProductImgDiv2 {
  position: relative;
  height: 20.5rem;
  width: 20.5rem;
  margin-left: 2rem;
  margin-top:1rem;
  border-radius:5px;
  background-color: white;
  overflow: hidden;
}

.Favorite {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}
.Favorite2 {
  position: absolute;
  bottom: 1.5rem;
  right: 0rem;
  cursor: pointer;
}
.Favorite:hover {
  color: rgb(254 63 29);
}
.Favorite2:hover {
  color: rgb(254 63 29);
}
/* .Information {
  position: relative;
} */
.Information2 {
  position: relative;
  padding: 2rem;
  margin-left: 5rem;
}

p.title {
  height: 9rem;
  font-size: 2rem;
  margin-bottom: 0;
  padding: 1rem 2rem 0 2rem;
}
p.title2 {
  font-size: 2.2rem;
  padding: 0 2rem 0 0;
  margin-bottom: 0;
  color:#84929f;
}
p.price {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
  display: none;
}
p.price2 {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 0;
  color:#000;
}
.biddingPrice2 {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 0;
  color:#000;
}
.biddingPrice {
  color: black;
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 0;
  margin-left: 2rem;
}
p.time {
  font-size: 1.8rem;
}
.countDownContainer {
  display: flex;
  user-select: none;
  cursor: default;
  margin-left: 1rem;
}
.countDownContainer2 {
  display: flex;
  user-select: none;
  cursor: default;
  margin-top: 2rem;
  margin-bottom: 0;
}
.infoEnd {
  font-size: 1rem;
  text-align: left;
  margin: 0 0 0.4rem 1rem;
}
.infoEnd2 {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  margin-top: 1rem;
}
.info {
  font-size: 1rem;
  margin-left: 1rem;
}
.info2 {
  font-size: 1rem;
  margin-left: 1rem;
}

.infoTitle {
  text-align: center;
  padding: 0.2rem 1.05rem;
}
.infoTitle1 {
  text-align: center;
  padding: 0.2rem 0.2rem 0.2rem 2rem;
}
